<mat-card class="xros-card trend-card">
  <div class="trend-header">
    <span class="section-tag">TREND</span>
    <div class="series-toggles">
      <label class="trend-toggle-chip" *ngFor="let s of series">
        <mat-checkbox [checked]="seriesVisibility[s.label]" (change)="toggleSeries(s.label)" color="primary">
          <span class="toggle-dot" [style.background]="s.color"></span>
          {{ s.label }}
        </mat-checkbox>
      </label>
    </div>
  </div>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [oneToOne]="true"
    (chartInstance)="onChartInstance($event)"
    style="display: block; width: 100%; height: 320px"
  ></highcharts-chart>
  <div class="trend-range-bar" *ngIf="rangeStart">
    <span>{{ rangeStart }}</span>
    <span>{{ rangeMid }}</span>
    <span>{{ rangeEnd }}</span>
  </div>
</mat-card>
